# Environment
node_modules/
dist/
.env
.env.local
cdk.out/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# AWS
.aws-sam/
samconfig.toml

# Test
coverage/
*.lcov

# Docker
.docker/
ui/out/
ui/.next/
lambda-deploy/dist/
